{% extends "layout.html" %}
{% block content %}
<div style="font-family:'Lucida Console', monospace">
  {% for row in game %}
    {{row}}<br/>
  {% endfor %}
  .............<br>
  0 1 2 3 4 5 6
</div>
<div class="container">
  <form action="/redirect/" method="POST">

    <div class="form-group">
      <label for="column">column</label>
      <input class="form-control" id="column" name="column" placeholder="Select Column">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

{% endblock content %}
