<!DOCTYPE html>
<!-- https://github.com/EricFan24/Connect-4-public/blob/main/Connect-4/templates/player1_connect.html -->
<html>
    <head>
        <title>Connect 4</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>        
        <div class = "board">
            <table>
                <tr id = '0'>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr id = '1'>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr id = '2'>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr id = '3'>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr id = '4'>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr id = '5'>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
            </table>
        </div>
    </body>

</html>